<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="RelatorioAtividades.Properties.Settings.DbRegistroAtividade_sdfConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DbRegistroAtividade.sdf.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="RelatorioAtividades.Properties.Settings.DbRegistroAtividadeConnectionString" connectionString="Data Source=&quot;C:\Users\LFelipe\Documents\Visual Studio 2013\Projects\RelatorioAtividadesControleTempo\BancoDados\DbRegistroAtividade.sdf&quot;" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="RelatorioAtividades.Properties.Settings.DbRegistroAtividadeConnectionString1" connectionString="Data Source=&quot;C:\Users\FELIPE\OneDrive\Projetos\Visual Studio 2013\Projects\RelatorioAtividadesControleTempo\BancoDados\DbRegistroAtividade.sdf&quot;" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="RelatorioAtividades.Properties.Settings.DbRegistroAtividadeConnectionString2" connectionString="Data Source=&quot;C:\Users\FELIPE\OneDrive.old\Projetos\Visual Studio 2013\Projects\RelatorioAtividadesControleTempo\BancoDados\DbRegistroAtividade.sdf&quot;" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="RelatorioAtividades.Properties.Settings.DbRegistroAtividadeConnectionString3" connectionString="Data Source=|DataDirectory|\DbRegistroAtividade.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection3" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.13.0.0" newVersion="6.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.13.0.0" newVersion="6.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>