<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Microsoft.OData.Client" version="6.13.0" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="6.13.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.13.0" targetFramework="net45" />
  <package id="Microsoft.OData.ProxyExtensions" version="1.0.35" targetFramework="net45" />
  <package id="Microsoft.Office365.OutlookServices" version="1.0.41.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net45" />
</packages>